{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creation d'une Catégorie ! <h1>

    {{ form_start(formDetail) }}

        <form_widget(formDetail)>
        <form_widget(formDetail.Categorie)>
        
    {{ form_end(formDetail) }}
    <button Type="submit" class="btn btn-success">Ajouter un Catégorie</button>
{% endblock %} 