{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creation d'une Catégorie ! <h1>

    {{ form_start(formCategorie) }}
        
        <form_widget(formCategorie)>
        <form_widget(formCategorie.Detail)>
        
    {{ form_end(formCategorie) }}
    <button Type="submit" class="btn btn-success">Ajouter un Catégorie</button>
{% endblock %} 