{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creation d'un Type ! <h1>

    {{ form_start(formType) }}
        <form_widget(formType)>  
    {{ form_end(formType) }}
    
    <button Type="submit" class="btn btn-success">Ajouter un type</button>

{% endblock %} 