{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creation d'un Produit ! <h1>
    {{ form_start(formProduit) }}
        <div class="form-group">
        <form_widget(formProduit)>
        <form_widget(formProduit.Categorie)>
        </div>
        
    {{ form_end(formProduit) }}
    <button Type="submit" class="btn btn-success">Ajouter un Produit</button>
{% endblock %}