{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creation d'un Fournisseur ! <h1>

    {{ form_start(formFournisseur) }}
        
        <form_widget(formFournisseur)>
        
    {{ form_end(formFournisseur) }}
    <button Type="submit" class="btn btn-success">Ajouter un Fournisseur</button>

{% endblock %} 