{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creation d'un Client ! <h1>

    {{ form_start(formClient) }}
        <div class="form-group">
        <form_widget(formClient)>
        </div>
    {{ form_end(formClient) }}

    <button Type="submit" class="btn btn-success">Ajouter un Client</button>

{% endblock %} 